@page {
    margin: 0;
    width: 210mm;
    height: 297mm;

}



body{
    font-family:Microsoft JhengHei;
    font-size: 12px;
}

table {
    page-break-inside: avoid;

}

.titleLeft {
    text-align: center;
    font-size: 2em;

}
.imgtitle {
    display:block;
    margin:auto;
    width: 30%

}


table.one {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}

table.one td {
    height: auto;
    white-space: normal;
}

td.col_one {
    width: 10%;
    text-align: left;
    height: 30px;
}

td.col_two {
    width: 10%;
    border-bottom: 2px solid #888888;
    height: 30px;
}

td.col_three {
    width: 10%;
    text-align: center;
    height: 30px;
}

td.col_four {
    width: 10%;
    border-bottom: 2px solid #888888;
    height: 30px;
}

td.col_five {
    width: 20%;
    text-align: center;
}

td.col_six {
    border-bottom: 2px solid #888888;
    width: 30%;
}

td.col_even_border {
    width: 30%;
    border: 1px solid #000000;
}

table.two {
    width: 90%;
    border-collapse: collapse;
    margin: 10px auto;

}
table.two th {
    background-color: #D2F0F0; /* 設置表頭的背景顏色 */
    font-size: 1.1em; /* 調整字體大小，使表頭更加突出 */
    padding: 10px; /* 增加填充，以確保內容不會顯得擁擠 */
    border: 1px solid #666666; /* 設置表頭的邊框 */
    text-align: center; /* 設置表頭內容居中 */
}

table.two, td.co2_st, td.co2_nd, td.co2_rd, td.co2_th {
    border: 1px solid #666666;
}





td.co2_st {
    width: 25%;
    text-align: left;
    height: 35px;
}
td.co2_st_1{
    width: 25%;
    text-align: center;
    height: 35px;
}
td.co2_nd {
    width: 15%;
    text-align: center;
}

td.co2_rd {
    width: 17%;
    text-align: center;
}

td.co2_th {
    width: 23%;
    text-align: center;
}

td.co2_nd_span {
    width: 15%;
    border-right: 1px solid #666666;
    text-align: center;
}

td.co2_rd_span {
    width: 20%;
    text-align: center;
    border-right: 1px solid #666666;
}

td.co2_th_span {
    width: 20%;
    text-align: center;
    border: 1px solid #666666;
}

td.co2_nd_span_2 {
    width: 15%;
    text-align: center;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;

}

td.co2_rd_span_2 {
    width: 20%;
    text-align: center;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

td.co2_th_span_2 {
    width: 20%;
    text-align: center;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

table.three {
    width: 90%;
    height: 20%;
    border-spacing: 15px;
    color:#333333;
    margin: 0 auto;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.three th {
    font-size:14px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #CCEEFF;
    height:20px;
}
table.three td {
    font-size:12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
td.border_hrv{
    border: 1px solid #000000;
    text-align: center;
}
tr.border_hrv{
    border: 1px solid #000000;
    text-align: center;
}

td#bmi_description,#HR_description,#RRIV_description,#ANSage_description,#ANS_2_description,
#SYM_1_description, #SYM_2_description, #VAG_1_description, #VAG_2_description, #SDNN_description,
#SYM_m_description ,#Balance_description
{
    color:black;
}
td#ANS_1_description
{
    color:black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.new-page {
    page-break-before: always;
}
.newpage {
    width: 100%;
    height: 100%;
    margin: 0;
    page-break-before: always;
}
.newpage img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}


